.mainContactDiv {
    color: white;
    text-align: center;
    margin-top: 150px;
    font-family: 'Lato', sans-serif;
}

.question {
    margin-bottom: 40px;
}

.directions {
    margin-bottom: 40px;
}



.contact {
    color: white;
    /* margin-top: 10%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 300px;
    margin: auto;
    /* position: absolute; */
    /* left: 42%; */
    /* top: 35%; */
    

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     height: 100%; 
    /* width: 50%; */
    /* margin-left: 25%; */
    
}

.thanksMsg {
    display: none;
}