.containerDiv {
    background-color: rgba(0, 0, 0, 0.0);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    position: relative;
    z-index: 1;
    
}

.title{
    margin-left: 20%;
    margin-top: 15px;
    padding: 5px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    border: solid white;
    border-radius: 0px;
    width: 150px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.navItems {
    margin-top: 35px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

/* .navDiv {
    float: right;
}

.navDiv ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.navDiv li {
    display: inline-block;
    margin-right: 150px;
    padding-top: 40px;
    position: relative;
}

.navDiv a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;

}

.navDiv a:hover {
    color: wheat;
}

.navDiv a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: beige;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 225ms;
}

.navDiv a:hover::before {
    width: 100%;
} */


@media (max-width: 550px) {
    
    .title{
        margin-left: 0%;
    }
    
    .navItems {
        margin-top: 38px;
        margin-left: 5px;
    }

}