.hikesMainDiv {
    background-image: url(https://images.unsplash.com/photo-1551309292-e185c0b6e22a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
    width: 100vw;
    /* background-size: cover; */
    overflow: auto;
    position: absolute;
    top: 0;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Lato', sans-serif;
}


.leTitle {
    color: white;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
}

.subTitle {
    color: white;
    text-align: start;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 17px;
}

.hikes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 70vh;
    grid-gap: 0px;
    margin-left: 10%;
}


.resultPics {
    height: 117px;
    width: 175px;
    border: solid 1px white;
    border-radius: 10px;
}


.stars {
    color: white;
    font-family: 'Lato', sans-serif;
    
}

p{ color: white;}


.linkDiv{
    text-decoration: none;
    margin-bottom: 65px;
}


@media (max-width: 1130px) {
    .hikes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .resultPics{
        height: 80px;
        width: 125px;
    }
}

@media (min-width: 1131px){
    .hikesMainDiv{
        height: 100vh;
    }
}
